/* foglio di stile della pagina di gestione Sbot */
/* Elementi di base */
html { font-size: 61%; font-family: helvetica, arial, verdana, sans-serif; min-height: 100%; }
body { background:#2e3131; padding:0; margin:0; }

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	padding-left: 28px;
}

/* Elementi personalizzati
   Questi elementi servono a collocare correttamente 
   gli elementi principali all'interno della gabbia strutturale */

img { vertical-align:bottom; border:0; }

img.small {vertical-align:bottom; border:0; height:50px; width:50px; margin-bottom:10px;}

a:link, a:visited, a:hover, a:active, a:focus {
text-decoration: none; cursor:pointer; }

a:hover, a:active, a:focus {
text-decoration: underline; }

div#footer:after,
div.content-row:after,
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* Elementi della gabbia strutturale */
div#container { width: 920px; margin: 40px auto; background: #fff; border-top:3px solid #c04343; }

/* Intestazione
   L'intestazione e' composta da un'unica riga e un'unica colonna 
   contiene sia il titolo che il menu di navigazione */

div#header { width:900px; height:80px; background:#fff; position:relative; padding-left:20px; }
div#header h1 { font-size:1em; text-transform:uppercase; color:#bebebe; font-weight:normal; padding-top:21px; }
div#header h1 span { font-family:georgia, serif; font-size:2.2em; font-weight:bold; color:#262626; position:relative; top:4px; padding:2px 15px 2px 0; margin-right:12px; border-right:1px solid #bebebe; }

/* Menu Navigazione */

div#header ul#menunav { position:absolute; top:23px; right:20px; margin:0; padding:0; list-style:none; }
div#header ul#menunav li { float:left; padding:4px 8px; background:#fff; margin:0 0 0 1px; }
div#header ul#menunav li a { color:#c04343; border-bottom:0px solid #fff; padding:4px 8px; text-decoration:none; }
div#header ul#menunav li a:hover { color:#fff; border-bottom:0px solid #fff; padding:4px 8px; text-decoration:none; background:#c04343; }
div#header ul#menunav li.active { float:left; padding:4px 8px; background:#c04343; margin:0 0 0 1px; }
div#header ul#menunav li.active a { color:#fff; border-bottom:0px solid #fff; padding:4px 8px; text-decoration:none; }

/* Menu Admin */
div#top_menu { clear: both; width:100%; }
div ul#admin_menu { top:23px; right:20px; margin:0; padding:0; list-style:none; }
div ul#admin_menu li { float:left; padding:4px 4px; background:#fff; margin:0 0 0 1px; }
div ul#admin_menu li a { color:#c04343; border-bottom:0px solid #fff; padding:4px 4px; text-decoration:none; }
div ul#admin_menu li a:hover { color:#fff; border-bottom:0px solid #fff; padding:4px 4px; text-decoration:none; background:#c04343; }
div ul#admin_menu li.active { float:left; padding:4px 8px; background:#c04343; margin:0 0 0 1px; }
div ul#admin_menu li.active a { color:#fff; border-bottom:0px solid #fff; padding:4px 4px; text-decoration:none; }




/* Contenuti - su 3 colonne - stile giornale */

div#content { width:900px; height:auto; background:#fff; padding:0 10px 20px 10px; }

div.content-row { display:block; background:#fff; padding:5px 0; float:left; }
div.content-rows { display:block; background:#fff; padding:25px 0 5px 0; float:left; }
div.content-col { width:280px; margin:0 10px; background:#fff; float:left; display:inline; }
div.content-col h2 { color:#c04343; font-size:1.8em; text-transform:uppercase; padding:0 ; }
div.content-col h3 { color:#545454; font-size:1.4em; line-height:1.4em; font-family:georgia, serif; font-weight:normal; text-align:justify; margin:5px 0 20px 0; }
div.content-col p { margin:5px 0; font-size:1.3em; line-height:1.4em;  }
div.content-col p.descr { color: #664; font-size: 1.1em; margin-bottom: 6px; }
div.content-col strong { color:#545454; }
div.content-col img { margin:5px 0; }
div.content-col a { font-size:1.3em; color:#c04343; }
div.content-colwide { width:570px; margin:0 10px; background:#fff; float:left; }
div.content-colwide p { margin:5px 0; font-size:1.3em; line-height:1.4em; text-align:justify; }
div.content-colwide a { font-size:1.3em; color:#c04343; }



/* Pie' di Pagina, chiusura pagina 
   Unica riga, unica colonna */

div#footer { width:900px; height:auto; background:#c04343 url(./img/bg-footer.jpg) top left repeat-x; padding:3px 10px; }
div#footer p a { font-size:1em; color:#fff; padding:3px 10px; border:0; }

/* Menu a discesa per pannello di gestione -- Nuova versione */

#menu {margin: 0; padding: 0;  height: 2em; border-width: 0 0 1px 0; border-style: solid; float: right;}
#menu li { margin: 0; padding: 0; float: left; height: 3em; width: 10em; display: inline; list-style-type: none; position: relative; line-height: 3em;}

#menu li a:link,
#menu li a:visited {margin: 0; padding: 0; text-decoration: none; color: #000; background: transparent; float: left; width: 10em; text-align: center; font-weight: bold;}
#menu li a:hover {background: transparent; color: #c00;}
#menu li ul {display: none; margin: 0; padding: 0; background: #f1f1f1; color: #000; border: 1px solid; width: 10em;}
#menu li ul li {list-style: none; margin-left: 0; padding-left: 0; border-bottom: 1px solid;}

#menu li ul li a:link,
#menu li ul li a:hover {display: block; margin: 0; padding: 0; text-align: center; background: transparent; color: #000; width: 10em; font-weight: bold;}
#menu li ul li a:hover {background: #fff; color: #c00;}

#menu li:hover ul {display: block; position: absolute; top: 2em; left: 0;}

/* Allineamento del testo per il form delle password */

.form-control {
  display: block;
  width: 89%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* Ordinamento delle tabelle */
#order thead tr th.headerSortUp span {background-image: url('ico/up-arrow.png');}
#order thead tr th.headerSortDown span {background-image: url('ico/down-arrow.png');}
#order thead {cursor: pointer;}
#order tbody tr td.lalign {text-align: center;}  
#order thead tr th span {padding-right: 20px; background-repeat: no-repeat; background-position: 100% 100%;}
#order thead tr th {font-weight: bold; padding: 12px 15px; padding-left: 42px;}
#order tbody tr td {text-align: center;padding: 8px 8px;}